.boxflex{
    display: flex;

    align-items: center;
}

.mn{
    text-align: center;
}

.boxflex > div{
    background-color: gray;
    margin:1em;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    flex-grow: 1;
}