.item1 { grid-area: rectangle; }
.item2 { grid-area: square; }
.item3 { grid-area: square1; }
.TUMAMA{
    width:60%;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-container {
  display:inline-grid;
  grid-template-areas:
    'square  square rectangle rectangle rectangle'
    'square  square rectangle rectangle rectangle'
    'square1 square1 rectangle rectangle rectangle ';
  gap: 10px;

  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}