
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff; 
}

th, td {
    padding: 8px; 
    border: 1px solid #dddddd; 
}

th {
    background-color: #f2f2f2; 
    font-weight: bold; 
}
.tabla1 {
    text-align: center;
    margin-top: 300px;
    padding: 30px;
}

.tabla2 {
    text-align: center;
    margin-top: 300px;
    padding: 30px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
}

a:hover {
    border: solid #d8c6bd;
    background-color: #ccbdb5;
}
/* Estilos para el cuerpo del documento */
.tumama {
    font-family: Arial, sans-serif;
    background-color: #92A4E8;
    margin: 0;
    padding: 0;
}

/* Estilos para el enlace de Monroe Sears */
.XS {
    text-decoration: none;
    color: #333; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Borde redondeado */
    background-color: #f0f0f0; /* Color de fondo */
}

.XS:hover {
    background-color: #ddd; /* Cambio de color al pasar el cursor */
}

.XM {
    text-decoration: none;
    color: #333; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Borde redondeado */
    background-color: #f0f0f0; /* Color de fondo */
}

.XM:hover {
    background-color: #ddd; /* Cambio de color al pasar el cursor */
}
